header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin: 32px 16px;
  width: 100%;
  max-width: 1440px;
}

.logo {
  height: 48px;
}

.wish-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
  width: 100%;
  font-size: 1.2rem;
}

.form-label {
  white-space: nowrap;
}

.form-input {
  width: 100%;
  border-bottom: solid 1px white;
  font-size: 1em;
  padding: 7.7px 0;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-submit {
  padding: 0;
  line-height: 0;
  border-radius: 24px;
  border: solid 1px white;
  background-color: rgba(0, 255, 127, 0);
  box-shadow: 0 0 16px rgba(0, 255, 127, 0);
  transition: 0.6s;
}

.form-submit:hover {
  border-color: springgreen;
  background-color: rgba(0, 255, 127, 1);
  box-shadow: 0 0 16px rgba(0, 255, 127, 1);
}

.add-symbol {
  height: 16px;
  padding: 12px;
  transition: 0.6s;
}

.add-symbol:hover {
  filter: invert();
}
